

/*! AQUÍ EMPIEZA EL PROYECTO */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,400;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-image: url(../img/hero@2x.jpg);
  background-position:  top right -90px;
  background-size: 1000px;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
}

.page{
  max-width: 1564px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

}
header{
  display: flex;
  justify-content: space-between;
  background-color: #edecec15;
  padding: 20px 0px;
  align-items: center;
}

header figure{
  margin: 0px;
}

header figcaption{
  display: none;
}
header figure img{
  width: 171px;
  height: auto;
}

header nav ul{
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 56px;
}
header nav ul li a{
  text-decoration: none;
  color: #424241;
  font-family: 'Poppins', sans-serif;
  font-weight: 400px;
  font-size: 18px;
}
.hero{
  padding-top: 30px;
}
.hero__content {
  max-width: 60%;
  padding: 0%;
  width: 784px;

}
.hero h1{
  max-width: 784px;
  font-family: 'bebas neue', sans-serif;
  font-size: 120px;
  line-height: 90px;
  line-height: normal;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-top:0%;
}
.hero h1 span{
  color: #7EDAD2;
}
.hero__content p{
  color: var(--text-and-main-gray-2,#909090);
  font-family: poppins, sans-serif;
  font-size: 24px;
  letter-spacing: 0%;
  line-height: 40px;
  margin-bottom: 40px;
  width: 719px;
}

.hero__content a{
  display: inline-block;
  background-color: #7EDAD2;
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 18px;
}
.hero_numbers {
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 480px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.big_number {
  display: block;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #424241;
}

.little {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #909090;
}

.categories{
  display: flex;
  justify-content: space-between;
  max-width: auto;

}

.categories article{

  max-width: 200px;
  background-color: white;
  gap: 32px;
}
.categories article h3{
  margin: 0px;
}

.categories article p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #424241;
  max-width: auto;
  margin: 5px 0px;

}